/*Default buttons*/
.defaultButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
}.defaultButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.defaultButton:active {
	position:relative;
	top:1px;
}
/****************/

/*Normal Buttons*/
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dedede), color-stop(1, #bdbdbd) );
	background:-moz-linear-gradient( center top, #dedede 5%, #bdbdbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#bdbdbd');
	background-color:#dedede;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #999999;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #f0f0f0;
}.myButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #dedede) );
	background:-moz-linear-gradient( center top, #bdbdbd 5%, #dedede 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#dedede');
	background-color:#bdbdbd;
}.myButton:active {
	position:relative;
	top:1px;
}

/**********************/

.NavButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dedede), color-stop(1, #bdbdbd) );
	background:-moz-linear-gradient( center top, #dedede 5%, #bdbdbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#bdbdbd');
	background-color:#dedede;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #999999;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:2px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #f0f0f0;
}.NavButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #dedede) );
	background:-moz-linear-gradient( center top, #bdbdbd 5%, #dedede 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#dedede');
	background-color:#bdbdbd;
}.NavButton:active {
	position:relative;
	top:1px;
}
.NavButton a{
       color:#e7e7e7;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:2px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #f0f0f0;
}
.NavButtonActive {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:2px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #f0f0f0;
}.NavButtonActive:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.NavButtonActive:active {
	position:relative;
	top:1px;
}

/*Quick Icon Buttons*/
.quickicons .myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e0e0e0), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #e0e0e0 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#cccccc');
	background-color:#e0e0e0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #adadad;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:0px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.quickicons .myButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #e0e0e0) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #e0e0e0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#e0e0e0');
	background-color:#cccccc;
}
.quickicons .myButton:active {
	position:relative;
	top:1px;
}
/***************************/

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dedede), color-stop(1, #bdbdbd) );
	background:-moz-linear-gradient( center top, #dedede 5%, #bdbdbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#bdbdbd');
	background-color:#dedede;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #999999;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #f0f0f0;
}.myButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #dedede) );
	background:-moz-linear-gradient( center top, #bdbdbd 5%, #dedede 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#dedede');
	background-color:#bdbdbd;
        text-decoration:none;
}.myButton:active {
	position:relative;
	top:1px;
}

/*Call buttons*/

.callButton {
    width:200px;
    background: #0f8623 url('../images/phone.png') no-repeat left;
    color:#fff;
    font-size: 14px;
    font-weight: bold;
    border:1px solid #F1F8FC;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
   
}

/*-----------------------------------------------------*/
.number{
	text-align: right;
}
/** MENU ICONS**/

.myicons {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dedede), color-stop(1, #bdbdbd) );
	background:-moz-linear-gradient( center top, #dedede 5%, #bdbdbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#bdbdbd');
	background-color:#dedede;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #999999;
	display:inline-block;
	color:#777777;
	font-family:arial;
	padding:5px 10px;
        margin-top: -6px;
	text-decoration:none;
	text-shadow:1px 1px 0px #f0f0f0;
}.myicons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #dedede) );
	background:-moz-linear-gradient( center top, #bdbdbd 5%, #dedede 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#dedede');
	background-color:#bdbdbd;
        text-decoration:none;
}.myicons:active {
	position:relative;
	top:1px;
}
.menuarrow {
    background: none transparent;
}
 a.tip {
    
    TEXT-DECORATION: none
}
a.tip:hover {
    POSITION: relative
}
a.tip SPAN {
    DISPLAY: none
}
a.tip:hover SPAN {
    BORDER: #121212 1px dotted;
    PADDING:5px;
    DISPLAY: block;
    Z-INDEX: 100;
    BACKGROUND: #f0f0f0 no-repeat 100% 5%;
    LEFT: -30px;
    MARGIN: 10px;
    min-width: 60px;
    WIDTH:auto;
    text-align: center;
    POSITION: absolute;
    TOP: -55px;
    color: #121212;
    TEXT-DECORATION: none;
    text-transform: capitalize;
    font-size:10px;
    
}
.menuactive{
webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.menuchild{
    margin-top:-2px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #dedede) );
	background:-moz-linear-gradient( center top, #bdbdbd 5%, #dedede 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#dedede');
	background-color:#bdbdbd;
        text-decoration:none;
        border: none;
        -moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
}
.textsearch{
    width:100px;
    font-size: 12px;
}

 
